a {
	text-decoration: none;
}

.bg-red {
	background-color: rgb(255, 45, 85);
}

.hover-bg-dark-blue:hover {
	background-color: #0067d8;
}

.usa-fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.usa-sr-only {
	position: absolute;
	left: -999em;
}

.usa-radio__input:checked + .usa-radio__label:before {
	-webkit-box-shadow: 0 0 0 2px #000, inset 0 0 0 2px #fff;
	box-shadow: 0 0 0 2px #000, inset 0 0 0 2px #fff;
}

.usa-radio__input {
	position: absolute;
	left: -999em;
}

.lt-ie9 .usa-radio__input {
	border: 0;
	float: left;
	margin: 0.25rem 0.25rem 0 0;
	position: static;
	width: auto;
}

.usa-radio__input:checked + .usa-radio__label::before {
	background-color: #000;
	-webkit-box-shadow: 0 0 0 2px #000;
	box-shadow: 0 0 0 2px #000;
}

.usa-radio__input:checked + .usa-radio__label::before {
	-webkit-box-shadow: 0 0 0 2px #000, inset 0 0 0 2px white;
	box-shadow: 0 0 0 2px #000, inset 0 0 0 2px white;
}

.usa-radio__input:focus + .usa-radio__label::before {
	outline: 0.25rem solid #2491ff;
	outline-offset: 0.25rem;
}

.usa-radio__input:disabled + .usa-radio__label::before {
	background: #e6e6e6;
	-webkit-box-shadow: 0 0 0 2px #c9c9c9;
	box-shadow: 0 0 0 2px #c9c9c9;
	cursor: not-allowed;
}

.usa-radio__label {
	cursor: pointer;
	display: inherit;
	font-weight: normal;
	margin-bottom: 0.75rem;
	padding-left: 2rem;
	position: relative;
	text-indent: -2rem;
}

.usa-radio__label::before {
	background: white;
	content: "\a0";
	display: inline-block;
	left: 2px;
	position: relative;
	vertical-align: middle\0;
}

.usa-radio__label::before {
	height: 1.25rem;
	border-radius: 99rem;
	width: 1.25rem;
}

.usa-checkbox__label::before,
.usa-radio__label::before {
	-webkit-box-shadow: 0 0 0 2px #777;
	box-shadow: 0 0 0 2px #777;
	line-height: 1.25rem;
	margin-right: 0.75rem;
}

.usa-checkbox__input:checked + .usa-checkbox__label::before,
.usa-radio__input:checked + .usa-radio__label::before {
	background-color: #000;
	-webkit-box-shadow: 0 0 0 2px #000;
	box-shadow: 0 0 0 2px #000;
}

.usa-radio__input:checked + .usa-radio__label::before {
	-webkit-box-shadow: 0 0 0 2px #000, inset 0 0 0 2px white;
	box-shadow: 0 0 0 2px #000, inset 0 0 0 2px white;
}
.usa-radio__input:focus + .usa-radio__label::before {
	outline: 0.25rem solid #2491ff;
	outline-offset: 0.25rem;
}
